.fontCard {
  font: 1.2em monospace;
  padding: 3%;
}

.fontPersonDetails {
  font: 1em monospace;
  padding: 3%;
}

.addGroupCard {
  margin: 1%;
  padding: 0px;
}

.personTitleCard {
  background-color: #2C4870;
  text-align: center;
  color: #ffffff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 5% 0px;
}

.groupNameDiv {
  display: flex;
  justify-content: space-around;
}

.groupPeopleDiv {
  max-height: 500px;
  overflow-y: scroll;
  width: 100%;
  padding-right: 2%;
  margin: 1% 0px;
}

/* scroll width */
.groupPeopleDiv::-webkit-scrollbar {
  width: 7px;
}

/* scroll Track */
.groupPeopleDiv::-webkit-scrollbar-track {
  box-shadow: inset 2px 2px 5px #e6e6e6; 
  border-radius: 4px;
}
 
/* scroll Handle */
.groupPeopleDiv::-webkit-scrollbar-thumb {
  background: #406aa5; 
  border-radius: 4px;
}

/* scroll Handle on hover */
.groupPeopleDiv::-webkit-scrollbar-thumb:hover {
  background: #325381;
}

.groupButtonDiv {
  display: flex;
  margin-top: 3%;
  padding-left: 1%;
  position: absolute;
}

.personGroupNameLabel {
  margin-top: 3%;
}

.personGroupNameInput {
  margin-bottom: 1%;
  width: 65%;
}

.personInputBoxCSS {
  border: 0px;
  border-bottom: 1px solid gray;
  border-style: dashed;
  border-radius: 0px;
}

.taggedPersonImageContainer {
  margin: 0px;
  padding: 0px;
  flex-direction: row;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
