.filterStyle {
  background-color: #ffffff;
  width: 22.2%;
  position: absolute;
}

.detailsAnimatedStyle {
  z-index: 1;
  position: absolute;
  left: 23%;
  background-color: #ffffff;
  border-left: 0.5px solid #e6e6e6;
  height: 100%;
  width: 22.5%;
}

.detailsStyle {
  overflow-y: scroll;
  height: 100%;
}

.toggleDivButton {
  z-index: 4;
  position: absolute;
  margin-top: 6%;
  margin-left: 1%;
  background-color: #2C4870;
  left: 100%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.panToMarkerButton {
  position: absolute;
  width: 15%;
  right: 3%;
  top: 3%;
  font: 0.9em monospace;
  background-color: #2c4870;
  color: "#ffffff";
}

.panToRecentMarker {
  position: absolute;
  width: 17%;
  left: 3%;
  bottom: 3%;
  font: 0.9em monospace;
  color: #ffffff;
  background-color: #2c4870;
}