.filterStyle {
  background-color: #ffffff;
  width: 22.2%;
  position: absolute;
}

.detailsAnimatedStyle {
  z-index: 1;
  position: absolute;
  left: 22.5%;
  background-color: #ffffff;
  border-left: 0.5px solid #e6e6e6;
  height: 100%;
  width: 22.5%;
}

.detailsStyle {
  overflow-y: scroll;
  height: 100%;
}


/* scroll width */
.detailsStyle::-webkit-scrollbar {
  width: 7px;
}

/* scroll Track */
.detailsStyle::-webkit-scrollbar-track {
  box-shadow: inset 2px 2px 5px #e6e6e6; 
  border-radius: 4px;
}
 
/* scroll Handle */
.detailsStyle::-webkit-scrollbar-thumb {
  background: #406aa5; 
  border-radius: 4px;
}

/* scroll Handle on hover */
.detailsStyle::-webkit-scrollbar-thumb:hover {
  background: #325381;
}

.toggleDivButton {
  z-index: 4;
  margin-top: 6%;
  margin-left: 1%;
  left: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.panToMarkerButton {
  width: 15%;
  right: 3%;
  top: 3%;
}

.panToRecentMarker {
  width: 17%;
  left: 3%;
  bottom: 1.5%;
}