.dateRangeCard {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1.5%;
}

.dateRange {
    align-self: center;
    font: 1em monospace;
}

.dateCSS {
    width: 50%;
}

.rangeSliderDiv {
    height: 40px;
    border: none;
    margin-top: 1%;
    margin-left: 3%;
}
