.fontPerson {
  font: 1.2em monospace;
}

.fontButton {
  font: 0.7em monospace;
}

.personTitle {
  padding: 1.75%;
  text-align: center;
  background-color: #2c4870;
  color: #ffffff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.labelPersonName {
  display: flex;
  margin-top: 6%;
  justify-content: flex-start;
}

.inputBoxName {
  border: 0px;
  border-bottom: 1px dashed #2c4870;
  border-radius: 0px;
}

.personAttributesContainer {
  height: 100px;
}

.savePersonInput {
  margin-top: 3%;
  flex-direction: row-reverse;
}
