.filterCard {
  padding: 4px;
  margin-top: 3%;
  padding-top: 1px;
  padding-bottom: 0px;
}

.filterFont {
  font: 0.9em monospace;
  font-weight: bold;
  margin-top: 4px;
}

.filterCategoryLabel {
  margin-left: 2%;
  margin-top: 0px;
  text-align: left;
  margin-bottom: 4px;
}

.cardHeaderTitleButton {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.cardHeaderTitleLabel {
  background-color: #2C4870;
  text-align: center;
  color: #ffffff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 5.5%;
}

.checkboxButtonLabel {
  border: 0px;
  padding: 1%;
  margin-left: 3%;
  width: 85%;
  text-align: left;
  margin-bottom: 4px;
}

.checkboxButton {
  margin-top: 2.2%;
}

.inputGroupValue {
  margin-left: 5%;
}

.overflowPersons {
  max-width: 96%;
  max-height: 10.5vh;
  overflow-y: scroll;
}

/* scroll width */
.overflowPersons::-webkit-scrollbar {
  width: 4px;
}

/* scroll Track */
.overflowPersons::-webkit-scrollbar-track {
  box-shadow: inset 2px 2px 5px #e6e6e6; 
  border-radius: 4px;
}
 
/* scroll Handle */
.overflowPersons::-webkit-scrollbar-thumb {
  background: #406aa5; 
  border-radius: 4px;
}

/* scroll Handle on hover */
.overflowPersons::-webkit-scrollbar-thumb:hover {
  background: #325381;
}

.overflowPersons::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px;
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
