.feedbackContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
}

.groupPersonDiv {
  border: 1px dashed #2C4870;
  border-radius: 4px;
  padding: 0px;
}

.imageRecogDiv {
  border: 1px dashed #2C4870;
  border-radius: 4px;
  padding: 0px;
}

.imageSelectionDiv {
  margin: 0.1%;
  overflow-y: scroll;
  max-height: 425px;
  border-radius: 4px;
}

/* scroll width */
.imageSelectionDiv::-webkit-scrollbar {
  width: 4px;
}

/* scroll Track */
.imageSelectionDiv::-webkit-scrollbar-track {
  box-shadow: inset 2px 2px 5px #e6e6e6; 
  border-radius: 4px;
}
 
/* scroll Handle */
.imageSelectionDiv::-webkit-scrollbar-thumb {
  background: #406aa5; 
  border-radius: 4px;
}

/* scroll Handle on hover */
.imageSelectionDiv::-webkit-scrollbar-thumb:hover {
  background: #325381;
}

.imageCont {
  margin: 0.75%;
}