.captionStyle {
  background-color: rgba(0, 0, 0, 0.8);
  max-height: 240px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 2px;
  font: 10px monospace;
}

.customTagStyle {
  word-wrap: break-word;
  display: inline-block;
  background-color: #2c4870;
  height: auto;
  font: 11px monospace;
  font-weight: 700;
  line-height: 1;
  padding: 0.2em 0.6em 0.3em;
  border-radius: 0.25em;
  color: #ffff1a;
  vertical-align: baseline;
  margin: 3px;
}

.searchAsMapMovesDiv {
  position: absolute;
  right: 1%;
  z-index: 5;
  width: 16%;
  top: 2%;
  background-color: #2C4870;
  padding : 0.60%;
  border-radius: 4px;
  elevation: 2;
}

.redoSearchDiv {
  width: 16%;
  right: 1%;
  top: 2%;
  z-index: 5;
}