#theImage {
  width: 100%;
  display: inline-block;
}

#containerImg {
  width: 80%;
  margin: 0 auto;
}

.speechText {
  font: 2em monospace;
  font-weight: bold;
}

.locationText {
  font: 1.3em monospace;
}

.personNameText {
  font: 2em monospace;
  font-weight: lighter;
  margin-left: "2%";
}

.footer {
  line-height: 1.2em;
  margin-top: 3%;
}

.cardDisplay {
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoDiv {
  display: flex;
  align-items: flex-end; 
  justify-content: flex-end;
  width: 31vw;
}
.cardButton {
  opacity: 0.4;
  width: 40px;
  height: 50px;
  transition: 0.2s;
  position: absolute;
}

.cardButton:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 22px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  justify-content: center;
  font: 10px monospace;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 14px;
  vertical-align: middle;
}

.slider:before {
  position: absolute;
  content: "IMAGE";
  height: 14px;
  width: 35px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 6px;
}

input:checked + .slider {
  background-color: #2C4870;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2C4870;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  content: "VIDEO";
}

.toggleVideoButton {
  position: absolute;
  right: 1%;
  top: 11%;
}